{% extends 'base.html' %}
{% block content %}
    <html>
    <div class="signup-form">
        <form action="login" method="post">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
            </div>
        </form>
    </div>
    {% for message in messages %}
        <h3>{{ message }}</h3>
    {% endfor %}
    </div>
    </html>
{% endblock %}