{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="register">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"><br>
        <input type="text" name="firstname" placeholder="firstname"><br>
        <input type="text" name="lastname" placeholder="lastname"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="password"><br>
        <input type="password" name="password2" placeholder="confirm password"><br>
        <input type="submit" value="register"><br>
    </form>
    <div>
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    </div>
{% endblock %}