{% extends 'base.html' %}
{% block content %}
    <div class="signup-form">
        <form action="register" method="post">
            {% csrf_token %}
            <h2>Register</h2>
            <p class="hint-text">Create your account. It's free and only takes a minute.</p>
            <div class="form-group">
                <div class="row">
                    <div class="col"><input type="text" class="form-control" name="firstname" placeholder="First Name"
                                            required="required"></div>
                    <div class="col"><input type="text" class="form-control" name="lastname" placeholder="Last Name"
                                            required="required"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password1" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password2" placeholder="Confirm Password"
                       required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
            </div>
        </form>
        <div>
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        </div>
{% endblock %}